<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/1774323d-3551-410f-b875-7192f8ff3cff/v3/index.json" />
  </packageSources>
</configuration>