<div class="row full-height">
  <div class="col">

    <div class="row full-height">

      <div class="col text-header mx-5" style="width: 100%;">
        <div class="row">
          <div class="col">
            <h2 style="color: white; font-family:'Times New Roman', Times, serif; font-size: 50px;">Say hello to our new AI solution for easy onboarding process</h2>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col">
            <div class="row">
              <div class="col">
                <button class="btn learn-more my-4">
                  <span>Learn More</span>
                </button>
                <button class="btn talk my-4 mx-3">
                  <i class="fab fa-telegram-plane me-1"></i>
                  <span>Talk to Nosa</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-header" style="width: 100%;">
        <div class="d-flex justify-content-center" style="height: inherit">
          <img src="/assets/Convo.png" width="500px">
        </div>
      </div>

    </div>
  </div>
</div>